
  <h2 mat-dialog-title class="text-center">Posodobite zaposlenega</h2>

  <mat-dialog-content >
    <mat-form-field appearance="legacy" class="full-width-field">
      <mat-label>Ime</mat-label>
      <input matInput >
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy" class="full-width-field">
      <mat-label>Priimek</mat-label>
      <input matInput >
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy" class="full-width-field">
      <mat-label>Starost</mat-label>
      <input matInput >
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy" class="full-width-field">
      <mat-label>Letna plača</mat-label>
      <input matInput >
      <mat-icon matSuffix>euro_symbol</mat-icon>
    </mat-form-field>
    <br>


  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-flat-button color="primary">Primary</button>
    <button mat-flat-button color="primary">Primary</button>
  </mat-dialog-actions>


