<!--- EDIT -->
<div *ngIf="data.action == 'edit'">
  <h2 mat-dialog-title class="text-center">Posodobite zaposlenega</h2>

  <mat-dialog-content >
    <mat-form-field appearance="legacy" class="full-width-field">
      <mat-label>Ime</mat-label>
      <input matInput  [(ngModel)]="name">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy" class="full-width-field">
      <mat-label>Priimek</mat-label>
      <input matInput  [(ngModel)]="surname">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy" class="full-width-field">
      <mat-label>Starost</mat-label>
      <input matInput [(ngModel)]="age" >
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy" class="full-width-field">
      <mat-label>Letna plača</mat-label>
      <input matInput [(ngModel)]="salary">
      <mat-icon matSuffix>euro_symbol</mat-icon>
    </mat-form-field>
    <br>
    <mat-progress-bar *ngIf="spinner" mode="indeterminate"></mat-progress-bar>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-stroked-button  [mat-dialog-close]="{action: 'closed'}" color="accent" >Zapri</button>
    <button mat-raised-button color="primary"  (click) ="urediZaposlenega()">Posodobi</button>
  </mat-dialog-actions>
</div>

<!-- CREATE -->
<div *ngIf="data.action == 'create'">
  <h2 mat-dialog-title class="text-center">Dodajte zaposlenega</h2>

  <mat-dialog-content >
    <mat-form-field appearance="legacy" class="full-width-field">
      <mat-label>Ime</mat-label>
      <input matInput  [(ngModel)]="name">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy" class="full-width-field">
      <mat-label>Priimek</mat-label>
      <input matInput  [(ngModel)]="surname">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy" class="full-width-field">
      <mat-label>Starost</mat-label>
      <input matInput [(ngModel)]="age" >
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy" class="full-width-field">
      <mat-label>Letna plača</mat-label>
      <input matInput [(ngModel)]="salary">
      <mat-icon matSuffix>euro_symbol</mat-icon>
    </mat-form-field>
    <br>
    <mat-progress-bar *ngIf="spinner" mode="indeterminate"></mat-progress-bar>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-stroked-button  [mat-dialog-close]="{action: 'closed'}" color="accent" >Zapri</button>
    <button mat-raised-button color="primary"  (click) ="dodajZaposlenega()">Dodaj</button>
  </mat-dialog-actions>
</div>

<!-- DELETE -->
<div *ngIf="data.action == 'delete'" >
  <h2 mat-dialog-title style="text-align: center">Ste prepričani, da želite izbrisati uporabnika?</h2>
  <div *ngIf="spinner">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <mat-dialog-actions align="center" class="mt-4">
      <button mat-stroked-button  [mat-dialog-close]="{action: 'closed'}" color="accent" >Prekliči</button>
      <button mat-raised-button color="primary"   (click) ="izbrisiUporabnika()">Izbriši</button>
    </mat-dialog-actions>
  </div>
  <div *ngIf="!spinner">
    <mat-dialog-actions align="center" style="margin-top: 44px">
      <button mat-stroked-button  [mat-dialog-close]="{action: 'closed'}" color="accent" >Prekliči</button>
      <button mat-raised-button color="primary"   (click) ="izbrisiUporabnika()">Izbriši</button>
    </mat-dialog-actions>
  </div>

</div>





