table {
  width: 100%;
  table-layout: fixed;
}
#editIcon {
  color: darkorange;
}
.right {
  float: right;
}

.center {
  display: flex;
  align-items: center;
}

.mat-header-row {
  background-color: #eeeeee;
}

.mat-header-cell {
  color: black;
  font-size: unset;
}




